* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

/* Result component */
.result {
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  border: 1px solid #776e5f;
  border-radius: 2rem;
}

.result-score {
  width: 130px;
  height: 130px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5631;
  border-radius: 50%;
}

.result h1 {
  color: #d1c1a7;
}

.container h1 + h3 {
  color: #b9ab93;
  font-weight: lighter;
}

.result-score h3 {
  font-size: 2.5rem;
  color: #120f0e;
  font-weight: bold;
  letter-spacing: 5px;
}

/* AddTodo component */
.add-todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-todo input {
  width: 80%;
  height: 50px;
  background-color: #1e1e1e;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding-left: 20px;
  border-radius: 1.5rem;
}

.add-todo button {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  color: #ff5631;
  cursor: pointer;
}

/* List component */
.list {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  overflow-y: scroll;
}

.list li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #776e5f;
  border-radius: 1rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.list button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #776e5f;
  cursor: pointer;
}

/* Loader  */
.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.loader {
  width: 65px;
  height: 117px;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ff8001;
  box-shadow: 0 0 0 50px;
  clip-path: polygon(
    100% 0,
    23% 46%,
    46% 44%,
    15% 69%,
    38% 67%,
    0 100%,
    76% 57%,
    53% 58%,
    88% 33%,
    60% 37%
  );
}
.loader:after {
  animation: l8 1s infinite;
  transform: perspective(300px) translateZ(0px);
}
@keyframes l8 {
  to {
    transform: perspective(300px) translateZ(180px);
    opacity: 0;
  }
}

/* Utils */
.done {
  text-decoration: line-through;
}

.not-done {
  text-decoration: none;
}
